
:root {
    --primary-light: #ddd;
    --primary-dark: #222831;
    --secondary-dark: #393e46;
    --secondary-dark-hover: #4a4f57;
    --secondary-dark-active: #5b5f68;
    --header: #111720;
    --primary-yellow: #fac650;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;}

header {
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: #232627;
}
.title {
    color: #ada59b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
main {
    margin-top: 40px;
    text-align: center;
}
.scoreboard {
    margin-bottom: 10px;
}
#rule {
    font-size: 30px;
}